body {
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.87);
    width: auto;
    padding: 1%;
    margin: 1%;
    font-family: Roboto, Liberation Sans, sans, cursive;
}

.card {
    background-color: #fafafa;
    width: 30%;
    height: 20%;
    overflow: hidden;
    box-shadow: .25px .25px 5px .25px;
    border-radius: 2px 2px 2px 2px;
    z-index: 5;
}

@media only screen and (max-width:1280px) {
    .card {
        width: 40%;
    }
}
@media only screen and (max-width:1001px) {
    .card {
        width: 50%;
    }
}
@media only screen and (max-width:768px) {
    .card {
        width: 60%;
    }
}
@media only screen and (max-width:570px) {
    .card {
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    .card {
        width: 90%;
    }
}

@media only screen and (max-width: 467px) {
    .card {
        width: 100%;
    }
}

.card-header {
    background-color: #607d8b;
    padding: 1%;
    color: #eceff1;
    font-weight: 500;
    position: relative;
}

.card-content {
    font-style: oblique;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.54);
    padding: 2%;
}

#user-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 68px;
    height: 68px;
    float: left;
    padding: 0% 4% 0% 4%;
}

#username-title {
    position: relative;
    padding: 1%;
}

#card-text {
    padding: 1%;
    overflow: hidden;
}